.tiles-wrapper {
    max-width: 1000px;
    position: relative;
    margin:  auto;
}

.tile {
    display: none;

}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: .6s ease;
    border-radius: 0px 3px 3px 0;
    user-select: none;
}

.next {
    right: -3pc;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: -3pc;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(185, 182, 182, 0.226);
}

.caption {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


.tile-num {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.ind {
    cursor: pointer;
    height: 5px;
    width: 45px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color .6s ease;
}

.active, .ind:hover {
    background-color: #000;
}

.tile {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Testimony tiles styles - feedback section */


.testimonial-container {
    background-color: #000;
    color: white;
    margin: 2pc;
}
.test-tile {
    display: flex;
    border: .5pc groove magenta;
    height: 50vh;
    align-items: center;
    gap: 1pc;
    padding:1pc;
}

.test-bg {
    border-left: .5pc groove gold;
    border-right: .5pc groove gold;

    border-radius: 5pc;
    width: 50%;
    height: 70%;
}

.border-color {
    border-left: .5pc groove yellowgreen;

}

.test {
    display: flex;
    align-items: flex-start;
    padding:1pc;
}


.test-img {
    width: 5pc;
    height: 5pc;
    margin: 1pc;
}

.bolder {
    font-weight: bolder;
}

.quote {
    font-size: 39px;
    color: magenta;

}

.test-title {
    margin: 1pc;
    font-size: 2rem;
}